@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Rubik';
    background: #F2F2F2;
}
.navbar{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 40px auto;
}

.navbar-content a{
  text-decoration: none;
  padding-right:40px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 131% */

  text-align: right;
  letter-spacing: 1.5px;

  color: #242A45;
}
.navbar-content a:hover{
  color: #FA5959;
  cursor:pointer;
}
.navbar-content span{
  background: #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 131% */
  letter-spacing: 1.5px;
  padding:12px 20px;
  color: #FFFFFF;
  border: none;
}
.navbar-content span:hover{
  cursor: pointer;
  border:1px solid #FA5959;
  color: #FA5959;
  background: transparent;
}

.header{
  display: flex;
  margin-left:100px;
}
.header-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
}
.header-left h3{
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  /* or 108% */

  letter-spacing: -0.15px;

  color: #242A45;
}
.header-left p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  padding: 30px 0;
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.chrome-btn{
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  padding: 6px 14px;
  letter-spacing: 0.25px;
  border:none;
  
  color: #FFFFFF;
  margin-right: 10px;
}
.chrome-btn:hover{
  background: transparent;
  color:#5267DF;
  border:1px solid #5267DF;
  outline: none;
}
.firefox-btn{
  background: #F7F7F7;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  letter-spacing: 0.25px;
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.75;
  padding: 6px 14px;
  border: none;
}
.firefox-btn:hover{
  background: transparent;
  color:#242A45;
  border:1px solid #242A45;
  outline: none;
}
.header-right{
  position:relative;
  overflow: hidden;
  flex:1;
}
.header-right img{
  position: relative;
  z-index: 1;
  width: 90%;
}

.right-blue{
  z-index: 0;
  position: absolute;
  left: 27%;
  top: 26%;
  width: 1000px;
  height: 302px;
  background-color: #5267DF;
  border-radius: 316.5px;
}
#features{
  display: flex;
  flex-direction: column;
  margin-top:60px;
}
.features-about{
  margin: 0 auto 72px;
  max-width: 540px;
}
.features-about h2{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: -0.1px;

  color: #242A45;
}
.features-about p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: center;

  color: #242A45;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.features-options{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);
  max-width: 720px;
  margin:60px auto;
}
.features-options a{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  /* identical to box height, or 106% */
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.533333px;
  padding:15px 30px;
  color: #242A45;

  mix-blend-mode: normal;
  opacity: 0.75;
}
.features-options a:hover{
  color:#FA5959;
  cursor:pointer;
}
.feature-content{
  display: flex;
  margin-right:100px;
}
.feature-left{
  position:relative;
  flex:1;
}
.left-blue{
  z-index: 0;
  position: absolute;
  right: 26%;
  top: 27%;
  width: 1000px;
  height: 302px;
  background-color: #5267DF;
  border-radius: 316.5px;
}
.content-img{
  position:relative;
  z-index: 1;
  padding-left: 60px;
  width: 80%;
}
.feature-right{
    flex:1;
}
.right-headline{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  /* identical to box height, or 162% */

  letter-spacing: -0.1px;

  color: #242A45;
}
.right-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  padding:30px 0;
  color: #242A45;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.ftr-btn{
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  padding: 12px 20px;
  letter-spacing: 0.25px;
  border:none;
  color: #FFFFFF;
}
.ftr-btn:hover{
  cursor:pointer;
  border:1px solid #5267DF;
  background: transparent;
  color:#5267DF;
}
.extensions{
  margin-top:170px;
  display: flex;
  flex-direction: column;
}
.browsers{
  display: flex;
  justify-content: space-around;
  margin:20px 120px;
}
.browser-content{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
  align-items: center;
  gap:18px;
  position:relative;
}
.browser-img{
  width: 100px;
  height: 100px;
  margin-top:18px;
}
.browser-content h3{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.25px;

  color: #242A45;
}
.browser-content p{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  /* identical to box height, or 187% */
  text-align: center;
  color: #242A45;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.browser-btn{
  background: #5267DF;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  padding:8px 22px;
  text-align: center;
  letter-spacing: 0.25px;
  border:none;
  color: #FFFFFF;
  margin-bottom:20px; 
}
.browser-btn:hover{
  cursor:pointer;
  border:1px solid #5267DF;
  background: transparent;
  color:#5267DF;
}
.browser-content:nth-child(1){
  bottom:40px;
 
}
.browser-content:nth-child(3){
  bottom:-40px;
  
}

.faq{
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-content{
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);
    width: 40%;
    margin:50px 0;
}
.answer{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  /* or 225% */
  display: none;
  letter-spacing: 0.15px;

  color: #242A45;

  mix-blend-mode: normal;
  opacity: 0.75;
  padding: 25px 0;
}
.active .answer{
  display: block;
}
.arrow{
  width:16px;
  height:8px;
}
.active .arrow{
  transform: scaleY(-1);
    filter: invert(46%) sepia(74%) saturate(3431%) hue-rotate(
333deg) brightness(110%) contrast(96%);
}
.question-content{
  display: flex;
  border-top: 1px solid rgba(73, 93, 207, 0.20012);
  justify-content: space-between;
  align-items: center;
  padding:10px 0;
}
.question{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  text-align: center;

  color: #242A45;
}
.question:hover{
  cursor:pointer;
  color:#FA5959;
}
.sign-up{
  background: #5267DF;
}
.sign-up-content{
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up-content h4{
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  /* identical to box height, or 308% */

  text-align: center;
  letter-spacing: 5px;

  color: #FFFFFF;
}
.sign-up-content h3{
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  text-align: center;
  letter-spacing: -0.1px;
  padding-bottom: 20px;
  color: #FFFFFF;
}
.email{
  background: #FFFFFF;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  letter-spacing: 0.25px;
  padding:8px 20px;
  color: #242A45;
  border:none;
  outline: none;
  width:300px;
}

.sign-up-form{
  display:flex;
}
.validation{
  display: flex;
  flex-direction: column;
  position:relative;
}
.form-btn{
  background: #FA5959;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  border:none;
  text-align: center;
  letter-spacing: 0.25px;
  padding:8px 20px;
  color: #FFFFFF;
  margin-left:15px;
  outline:none;
}
.form-btn:hover{
  cursor:pointer;
  background: #FFFFFF;
  color:#FA5959;
  border:1px solid #FA5959;
}
.err-msg{
  color:#FFFFFF;
  background: #FA5959;
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  letter-spacing: 0.25px;
  padding:5px;
  border-radius: 5px;
  display: none;
}

.err-img{
  position:absolute;
  right:3%;
  top:17%;
  display: none;
}

.footer{
  background: #242A45;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.footer-left{
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px;
}
.footer-bar{
 padding-left:40px;
}
.footer-bar a{
  text-decoration: none;
  font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
padding-left: 25px;
/* identical to box height, or 131% */

text-align: right;
letter-spacing: 1.5px;

color: #FFFFFF;
}
.footer-bar a:hover{
  cursor: pointer;
  color:#FA5959;
}
.footer-right{
  display: flex;
  align-items: center;
    justify-content: space-between;
    margin: 40px;
}
.footer-right img{
  padding:0 25px;
}
.footer-right img:hover{
  cursor: pointer;
  filter: invert(46%) sepia(74%) saturate(3431%) hue-rotate(333deg) brightness(110%) contrast(96%);
}
.hamburger{
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  overflow: auto;
  background-color: #242a45f5;
  padding: 30px;
}
.modal-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.close {
  color: #FFFFFF;
  font-size: 30px;
}
.close:hover{
  cursor:pointer;
}
.modal-list {
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modal-list a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 2.3px;
  padding: 25px 0 25px 0;
  list-style: none;
  border-bottom: 1px solid rgba(224, 222, 222, 0.548);
}
.modal-list a:nth-child(1){
  border-top: 1px solid rgba(224, 222, 222, 0.548);
 
}

.modal-btn{
  width: 100%;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  color: #FFFFFF;
  padding: 15px;
  margin-top: 35px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.modal-icons {
  margin-top: 220px;
  display: flex;
  gap: 50px;
}
@media (max-width: 768px) {
  .navbar-content{
    display: none;
  }
  .header{
    flex-direction: column;
  }
  
  .header-left{
    order: 2;
    margin-right:60px;
    margin-top:20px;
    text-align: center;
  }
  .header-left h3{
    font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.09375px;
}
  .header-left p{
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.5;
  }

  .right-blue{
    width: 577px;
    height: 203px;
    left:37%;
    top:28%;
  }
  .header-right img{
    width: 311px;
    height: 201px;
  }
  #features{
    text-align: center;
    align-items: center;
  }
  .features-about{
    margin:30px;
  }
  .features-about h2{
    font-weight: 500;
  font-size: 24px;
  line-height: 52px;
  /* identical to box height, or 217% */

  text-align: center;
  letter-spacing: -0.075px;
  }
  .features-about p{
    font-size: 15px;
  line-height: 25px;
  /* or 167% */

  text-align: center;

  color: #242A45;

  mix-blend-mode: normal;
  opacity: 0.5;
  }
  .features-options{
    flex-direction: column;
  }
  .feature-content{
    flex-direction: column;
  }
  .feature-right{
    order:2;
    margin-top:100px;
    margin-left:60px;
  }
  .right-headline{
    font-size: 24px;
  line-height: 52px;
  /* identical to box height, or 217% */

  text-align: center;
  letter-spacing: -0.075px;
  }
  .right-txt{
    font-size: 15px;
  line-height: 25px;
  /* or 167% */

  text-align: center;

  color: #242A45;

  mix-blend-mode: normal;
  opacity: 0.5;
  }
  .extensions{
    margin-top:70px;
  }
  .browsers{
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
  }
  .question{
    font-size: 15px;
    line-height: 32px;
  }
  .answer{
    font-size: 15px;
  line-height: 30px;
  }
  .faq-content{
    width:50%;
    margin:0;
    padding-bottom:20px;
  }
  .ftr-btn{
    margin-top:30px;
  }
  .sign-up-content h4{
    font-size: 12px;
  line-height: 40px;
  }
  .sign-up-content h3{
    font-size: 24px;
    line-height: 28px;
  }
  .sign-up-form{
    flex-direction: column;
  }
  .form-btn{
    margin:20px 0;
    width:300px;
  }
  .footer{
    flex-direction: column;
  }
  .footer-left{
    flex-direction: column;
  }
  .footer-bar{
    display: flex;
    flex-direction: column;
  }
  .footer-bar a{
    font-size: 15px;
    line-height: 17px;
    padding-top:20px;
    padding-right:30px;
  }
  .left-blue{
    width: 577px;
    height: 203px;
    right: 37%;
    top: 28%;
  }
  .content-img{
    width: 311px;
    height: 201px;
  }
  .hamburger{
    display: block;
  }
}